.pages-home {
  background: image-url('bg-home1.jpg') no-repeat center center fixed;
  background-size: cover;
}
.home {
  .middle {
    margin-top: 50px;
  }
  .text {
    .message {
      background-color: black;
      opacity: 0.8;
      padding: 20px 75px;
      border: 1px solid black;
      border-radius: 15px;
      color: white;
      h1 {
        margin-bottom: 18px;
        font-size: 45px;
      }
      p {
        margin-bottom: 20px;
        font-size: 26px;
      }
    }
  }
  .form {
    form {
      background-color: white;
      padding: 20px 25px;
      border: 2px solid black;
      border-radius: 5px;
    }
    .first-name {
      padding-right: 4px;
    }
    .second-name {
      padding-left: 4px;
    }
  }
}

footer {
  background-color: whitesmoke;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 115px;
  .row {
    margin-top: 25px;
    .title {
      font-size: 14px;
    }
    .option {
      margin-top: 5px;
      display: block;
      a {
        font-size: 13px;
        color: $gray;
      }
    }
  }
}