.token-modal {
  margin-top: 150px;
  .modal-header {
    color: whitesmoke;
    background-color: #333333;
  }
  .modal-body {
    .well {
      font-weight: bold;
      font-size: 17px;
      margin: 0 20px 12px;
      letter-spacing: 1px;
    }
    .message {
      font-size: 14px;
    }
  }
}